@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.navbar {
  justify-content: space-between;
  background-color: #e7e5ea;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100vw;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

.image-adjust {
  width: 200px;
  height: 200px;
  flex-grow: 1;
  align-self: flex-start;
}

.movie-card {
  display: flex;
  flex-direction: row;
  background-color: #daf0ed;
  margin: 10px;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.titleName {
  color: #183b56;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 8px;
  text-decoration: underline;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
}

.para-desp {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 300;
}

.rating {
  font-family: "Roboto";
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 10px;
}

.releasedDate {
  font-family: "Roboto";
  font-size: 20px;
  background-color: #f2b98d;
  color: white;
  padding: 10px;
}

.genre-adjust {
  font-family: "Roboto";
  font-size: 20px;
  background-color: #49e669;
  color: white;
  padding: 10px;
}

.next-pagination {
  background-color: white;
  height: 100px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.button {
  margin-left: 10px;
  padding: 10px;
  border-width: 1px;
  background-color: yellow;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
}

.links-adjust {
  color: #12022f;
  text-decoration: none;
  font-size: 15px;
  font-family: "Open Sans";
}

.new-class {
  display: none;
}

.links-container {
  flex-direction: column;
  margin-left: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}

.sign-up {
  background-color: #ffdda9;
  font-weight: bold;
  border-width: 0px;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.main-heading {
  color: white;
  font-weight: bold;
  margin: 15px;
}

.icon-adjust {
  color: black;
}

.follow-us-section {
  background-color: white;
}

.follow-us-section-heading {
  text-align: center;
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}

.banner-para {
  color: black;
  font-family: "roboto";
  font-size: 20px;
  background-color: white;
}

.follow-us-icon-container {
  background-color: #faf7e8;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 15px;
  padding-top: 22px;
  padding-bottom: 14px;
  padding-right: 16px;
  padding-left: 22px;
}

.icon {
  color: #d0b200;
  font-size: 35px;
}

.next-pagination {
  background-color: #f0ccdd;
}

.footer-section {
  background-color: #0d2436;
  padding: 10px;
}

.footer-section-mail-id {
  color: #959ead;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}

.footer-section-address {
  color: #959ead;
  font-family: "Roboto";
  font-size: 14px;
}

.logo-adjust {
  height: 65px;
  width: 65px;
  border-radius: 50px;
  margin-right: 15px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logoHeading {
  color: #edc111;
  font-family: "Roboto";
  font-weight: bold;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.filter-buttons {
  border-width: 1px;
  border-color: #ed5611;
  border-style: solid;
  background-color: #4195d1;
  font-family: Roboto;
  margin: 15px;
  padding: 20px;
  font-size: 20px;
  border-radius: 12px;
  color: white;
}

.search-results {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
  overflow: scroll;
}

.banner-container {
  background-image: url("https://img.freepik.com/free-vector/film-strip-background-with-clapper-board_1017-33456.jpg?t=st=1650799968~exp=1650800568~hmac=694b5588cc1fae30e9a5e752d6ccdf182a074c0aa40057a6b75939df6e7afbb1&w=900");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #d5cdcd;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  margin-bottom: 40px;
}

.banner-heading {
  color: white;
  font-family: "Bree Serif";
  font-size: 45px;
  font-weight: 300;
}

.search-input {
  font-size: 18px;
  border-style: solid;
  border-width: 3px;
  border-color: skyblue;
  border-radius: 3px;
  padding: 10px;
}

.search-results {
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.image-adjust {
  height: 300px;
  width: 200px;
  margin-bottom: 5px;
}

.main-container {
  font-family: "Roboto";
}

.heading-main {
  color: white;
  font-weight: bold;
}

@media (min-width: 768px) {
  .main-heading {
    color: white;
    font-weight: bold;
    margin: 25px;
    font-size: 45px;
  }

  .icon-adjust {
    display: none;
  }

  .links-container {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    justify-content: space-around;
    align-items: center;
  }

  .navbar {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 15px;
  }

  .links-adjust {
    color: #12022f;
    text-decoration: none;
    font-size: 20px;
    font-family: "Open Sans";
    padding-right: 10px;
  }

  .sign-up {
    background-color: #ffdda9;
    font-weight: bold;
    border-width: 0px;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 10px;
    font-size: 25px;
  }
}
